{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}All {{ author.get_full_name }} posts{% endblock %}

{% block content %}
  <h1>All {{ author.get_full_name }} posts</h1>
  <h3>The number of posts of this author: {{ author.posts.count }}</h3>
  {% if following == 'can_unfollow' %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Unfollow
      </a>
  {% elif  following == 'can_follow' %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Follow
        </a>
  {% endif %}
  {% for post in page_obj %}
  {% include 'posts/includes/post_list.html' %}
    {% if post.group %}   
      <a href="{% url 'posts:group_list' post.group.slug %}">All posts of the group</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}